h1{color: #DA4C64}
h2{color: #4381F4;
font-family: cursive;
font-size: 25px}
h3{color: #7E36E6;
font-family: cursive;
font-size: 20px}
p{font-size: 18px;
font-family: inherit;
background-color: #E7F8A8 ;
padding: 15px;}
body{background-image: url(file:///C:/Users/emanu/Desktop/dmprojekt/pozadina.jpg);}
a:link {
  color: black;
background-color: white;
padding: 5px;
line-height: 40px;
border:1px solid #000000;
}
a:hover{
  background-color: darkgray;
}
mark {
  background-color: #4EE763 ;
